

.margin{
     width:400px;
     margin-right:400px;
     margin-left:200px;
     text-align: center;
     height:500px;
     border:2px solid black;
}

.App {
    text-align: center;
    border: 2px solid black;
    margin: 0px 0px 0px 200px;
    height:600px;
    float:left;
    width:40%;
  }